@using MvcOnlineTradingAutomation.Models.Entities
@using PagedList
@using PagedList.Mvc
@model IPagedList<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .center {
        text-align: center;
    }

    .pagination {
    }

        .pagination a {
            text-decoration: dashed;
        }
</style>

<br />
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Adı</th>
        <th>Marka</th>
        <th>Stok Sayısı</th>
        <th>Alış Fiyatı</th>
        <th>Satış Fiyatı</th>
        <th>Kategori</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ProductName</td>
            <td>@x.ProductBrand</td>
            <td>@x.ProductStock</td>
            <td>@x.ProductCashPrice ₺</td>
            <td>@x.ProductSalePrice ₺</td>
            <td>@x.Category.CategoryName</td>
            <td><a href="/Product/RemoveProduct/@x.ProductId" class="btn btn-danger">Sil</a> <a href="/Product/EditProduct/@x.ProductId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<div style="float:right">
    @Html.PagedListPager(Model as IPagedList, page => Url.Action("Index", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        {"page-link"}
    })
</div>
<a href="/Product/CreateProduct" class="btn btn-primary">Yeni Ürün</a>


