@model MvcOnlineTradingAutomation.Models.Entities.Customer
@{
    ViewBag.Title = "GetCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Müşteri Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CustomerId)
        @Html.LabelFor(x => x.CustomerName, "Adı")
        @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CustomerName, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.CustomerSurname, "Soyadı")
        @Html.TextBoxFor(x => x.CustomerSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CustomerSurname, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.CustomerCity, "Şehir")
        @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CustomerMail, "E-Posta")
        @Html.TextBoxFor(x => x.CustomerMail, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    </div>
}
