@model MvcOnlineTradingAutomation.Models.Entities.Employee
@{
    ViewBag.Title = "GetEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("EditEmployee", "Employee", FormMethod.Post, new {@enctype="multipart/form-data"}))
{
    @Html.HiddenFor(x => x.EmployeeId)
    @Html.LabelFor(x => x.EmployeeName, "Personel Adı")
    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.EmployeeSurname, "Personel Soyadı")
    @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.EmployeeImage, "Görsel")
    <input type="file" name="EmployeeImage" class="form-control" value="@Model.EmployeeImage" />
    <br />
    @Html.LabelFor(x => x.EmployeeCity, "Şehir")
    @Html.TextBoxFor(x => x.EmployeeCity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.EmployeePhone, "Telefon")
    @Html.TextBoxFor(x => x.EmployeePhone, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.EmployeePhone)
    <br />
    @Html.LabelFor(x => x.DepartmentId, "Departman")
    @Html.DropDownListFor(x => x.DepartmentId, ViewBag.Departs as List<SelectListItem>, new { @class = "form-control" })
    <br />
    <button class="btn btn-default" style="background-color:#d55d08">Güncelle</button>
}


