@using MvcOnlineTradingAutomation.Models.Entities
@model List<Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>Seri-Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.InvoiceSerial-@x.InvoiceSequenceNum</td>
            <td>@x.InvoiceTaxOffice</td>
            <td>@x.InvoiceDelivery</td>
            <td>@x.InvoiceRecevier</td>
            <td>@x.InvoiceDate.ToShortDateString()</td>
            <td>@x.InvoiceTime</td>
            <td>@x.Total ₺</td>
            <td><a href="/Invoice/GetInvoice/@x.InvoiceId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Invoice/DetailInvoice/@x.InvoiceId" class="btn btn-light" style="background-color:cadetblue">Detaylar</a></td>
        </tr>
    }
</table>
<a data-toggle="modal" data-target="#Modal1" class="btn btn-primary">Yeni Fatura</a>
<div class="modal fade" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Yeni Fatura Ekleme</h2>
            </div>
            <form method="post" action="/Invoice/CreateInvoice">
                <div class="modal-body">
                    <input name="InvoiceSerial" class="form-control" placeholder="Seri" required />
                    <br />
                    <input name="InvoiceSequenceNum" class="form-control" placeholder="Sıra No" required />
                    <br />
                    <input name="InvoiceTaxOffice" class="form-control" placeholder="Vergi Dairesi" required />
                    <br />
                    <input name="InvoiceDelivery" class="form-control" placeholder="Teslim Eden" required />
                    <br />
                    <input name="InvoiceRecevier" class="form-control" placeholder="Teslim Alan" required />
                    <br />
                    <input name="InvoiceDate" class="form-control" placeholder="Tarih" required />
                    <br />
                    <input name="InvoiceTime" class="form-control" placeholder="Saat" required />
                    <br />
                    <button class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
