@model IEnumerable<MvcOnlineTradingAutomation.Models.Entities.ClassGroup>
@{
    ViewBag.Title = "SimpleTables";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Simple Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/webadmin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/webadmin/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Basit Tablolar</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Simple Tables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Kategori/Ürün Tablosu</h3>
                            </div>
                            @Html.Action("Category", "Statistic")
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Departman/Personel Tablosu</h3>
                            </div>
                            @Html.Action("Department", "Statistic")
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Müşteri Şehir Tablosu</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Şehir</th>
                                            <th>Progress Bar</th>
                                            <th style="width: 40px">Adet</th>
                                        </tr>
                                    </thead>
                                    @{ double per;
                                        string color = "";
                                        int count = 0;}
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            { per = (x.Count * 100) / Model.Sum(y => y.Count) * 1.0; }
                                            { count++; }
                                            <tr>
                                                <td>@count.</td>
                                                <td>@x.City</td>
                                                <td>
                                                    @if (per >= 0 && per < 25)
                                                    {
                                                        color = "bg-danger";
                                                    }
                                                    @if (per >= 25 && per < 50)
                                                    {
                                                        color = "bg-warning";

                                                    }
                                                    @if (per >= 50 && per < 75)
                                                    {
                                                        color = "bg-lime";

                                                    }
                                                    @if (per >= 75 && per <= 100)
                                                    {
                                                        color = "bg-success";

                                                    }
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar @color" title="%@per.ToString()" style="width: @per.ToString()%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="badge @color">@x.Count</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        @Html.Action("Brand","Statistic")
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                @Html.Action("Customer", "Statistic")
                @Html.Action("Product", "Statistic")
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- jQuery -->
    <script src="~/webadmin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/webadmin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/webadmin/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/webadmin/dist/js/demo.js"></script>
</body>
</html>

